@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body{
    background-color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    margin: 0 !important;
}
.content{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    float: right;
}
.sidebar{
    background-color: #1d1d1d;
    width: 3%;
    height: 100vh;
    float: left;
}
.sidebar img{
    width: 50%;
    margin-left: 10px;
    margin-top: 7px;
}
.navbar_top {
    height: 5vh;
    width: 17%;
    background-color: red;
    font-size: 22px;
    color: gold;
    text-align: center;
}
.navbar_bottom {
    height: 95vh;
    width: 14%;
    background-color: #d1d1d1;
    float: left;
}
span{
  color: red;
}
.daily_message{
  width: 100vh;
  height: 60px;
  margin-top: 0;
  margin-left: 40%;
}
